<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<ion-card>
  <ion-button expand="block" (click)="gotoEmpleados()">
    Empleados
  </ion-button>
</ion-card>
  <br>
  <ion-card>
    <ion-button expand="block" (click)="gotoClientes()">
      Clientes
    </ion-button>
  </ion-card>
  
  <br>
  <ion-card>
    <ion-button expand="block" (click)="gotoProductos()">
      Productos
    </ion-button>
  </ion-card>
  
  <br>
  <ion-card>
    <ion-button expand="block" (click)="gotoUsuarios()">
      Usuarios
    </ion-button>
  </ion-card>
  
  <br>
  <ion-card>
    <ion-button expand="block" (click)="gotoProveedores()">
      Proveedores
    </ion-button>
  </ion-card>
  
  <br>

</ion-content>
