<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestión Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-button expand="block" (click)="createTable()">
      Create Table
    </ion-button>

    <ion-button expand="block" (click)="getUsuario()">
      Listar Productos
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-item-divider>
      <ion-input placeholder="Enter Codigo" [(ngModel)]="codigo_model"></ion-input>
    </ion-item-divider>

    <ion-item-divider>
      <ion-input placeholder="Enter Nombre" [(ngModel)]="nombre_model"></ion-input>
    </ion-item-divider>
    
    <ion-item-divider>
      <ion-input placeholder="Enter Descripción" [(ngModel)]="descripcion_model"></ion-input>
    </ion-item-divider>

    <ion-item-divider>
      <ion-input placeholder="Enter Costo" [(ngModel)]="costo_model"></ion-input>
    </ion-item-divider>
    
    <ion-item-divider>
      <ion-input placeholder="Enter Precio" [(ngModel)]="precio_model"></ion-input>
    </ion-item-divider>

    <ion-item-divider>
      <ion-input placeholder="Enter Stock" [(ngModel)]="stock_model"></ion-input>
    </ion-item-divider>
    
    <ion-item-divider>
      <ion-input placeholder="Enter Fecha" [(ngModel)]="fecha_model"></ion-input>
    </ion-item-divider>
    
    

    <ng-container *ngIf="updateActive; else elseTemplateUpdate">
      <ion-button expand="block" (click)="updateRow()" >
        Update Producto
      </ion-button>
    </ng-container>

    <ng-template #elseTemplateUpdate>
      <ion-button expand="block" (click)="insertUser()">
        Insert Producto
      </ion-button>
    </ng-template>

  </ion-card>

  <ion-grid>
    <ion-card *ngFor="let item of row_data">
      <ion-row>
        <ion-col size="5">Código:</ion-col>
        <ion-col size="7">{{item.codigo}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">Nombre:</ion-col>
        <ion-col size="7">{{item.nombre}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">Descripción:</ion-col>
        <ion-col size="7">{{item.descripcion}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">Costo:</ion-col>
        <ion-col size="7">{{item.costo}}</ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col size="5">Precio:</ion-col>
        <ion-col size="7">{{item.precio}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">Stock:</ion-col>
        <ion-col size="7">{{item.stock}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">Fecha:</ion-col>
        <ion-col size="7">{{item.fecha}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="deleteRow(item)" size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="enableUpdate(item)" size="small" color="warning">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>


  </ion-grid>
</ion-content>